@use '../../styles/colors.scss' as colors;

.landing-container {
  text-align: center;
  padding: 6px;

  &-header-color-default {
    color: colors.$primary-light;
  }

  &-header-color-reverse {
    color: colors.$contrast;
    background-color: colors.$primary-dark;
    padding: 1px 6px;
  }

  &-description {
    font-size: 16px;
  }

  &-names-input {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 768px) {
    &-names-input {
      display: block;
    }
  }

  @media screen and (min-width: 769px) {
    &-names-input {
      margin-right: 12px;
    }
  }
}
