{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "parser": "typescript",
  "printWidth": 100,
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.json", ".prettierrc"],
      "options": { "parser": "json", "singleQuote": false }
    },
    {
      "files": ["*.scss"],
      "options": { "parser": "scss" }
    },
    {
      "files": ["*.html"],
      "options": { "parser": "html" }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": { "parser": "markdown" }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": { "parser": "yaml" }
    }
  ]
}
